################################################################################
# Ce fichier .gitignore a été automatiquement créé par Microsoft(R) Visual Studio.
################################################################################

/.vs/HR.LeaveManagement.NET6/FileContentIndex/0b6bdfcb-c8a3-4d5e-961c-9151c01f9468.vsidx
/.vs/HR.LeaveManagement.NET6/FileContentIndex/191731c6-5132-4fc2-a66b-47f21a6bf2ec.vsidx
/.vs/HR.LeaveManagement.NET6/FileContentIndex/1e187534-9b04-4d4e-8e1a-20fb3ec16f10.vsidx
/.vs/HR.LeaveManagement.NET6/FileContentIndex/57b0e75a-072e-4d2a-813e-a2c9e0edb379.vsidx
/.vs/HR.LeaveManagement.NET6/FileContentIndex/86c87600-0d2b-46b8-b0cf-c8ad2d7c032b.vsidx
